body {
    background: url(https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);
    background-size: cover;
    background-position: center; 
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";    
}

h2 {
    color:rgb(0, 100, 124);
	font-weight: 700;
	font-size: 5em;
    text-align: center;
    font-family: "Lato";
}

h4 {
    font-size: 2em;
    text-align: center;
}

#comicTitle {
    font-family: Arial, Helvetica, sans-serif;
}

#description {
    color:ivory;
    text-align: center;
}

.content {
	padding-top: 25%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

/* .button {
    text-decoration: inherit;
    padding: 8px 16px;
} */

.button:hover {
    background-color: #ddd;
    color: black;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: inherit;
    height: 75px;
}

#previous {
    background-color: #f1f1f1;
    color: black;
  }
  
#next {
    background-color: rgb(211, 112, 12);
    color: white;
  }
  

li {
    list-style-type: none;
}

.text-center {
    text-align:right;
    margin: 10px;
}
/* 
hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
} */

#navColor{
    color: rgb(0, 100, 124);
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%;
    }
  }